* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "averta cy w10";
}

html,
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  width: 80%;
  height: 70%;
  display: flex;
  flex-direction: column;
}

.game-container {
  width: 100%;
  height: 100%;
}

video {
  width: 100%;
  height: 100%;
}

.car {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 430px;
  /* left: 520px; */
}
.controllers {
  width: 100%;
  height: 30%;
  background-color: crimson;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.move-cars {
  display: flex;
  gap: 50px;
}

.icon {
  width: 30px;
  height: 30px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 10px;
  font-size: 30px;
}

.handle {
  display: flex;
  gap: 50px;
}

.break-image {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  cursor: pointer;
}

.accelarator-image {
  border-radius: 10px;
  width: 70px;
  height: 70px;
  cursor: pointer;
}

.break-image:hover {
  box-shadow: 2px 4px 6px 8px rgba(0, 0, 0, 0.4);
  transition: 0.5s;
}
.accelarator-image:hover {
  box-shadow: 2px 4px 6px 8px rgba(0, 0, 0, 0.4);
  transition: 0.5s;
}
